<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork865-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
# !pip install sqlalchemy==1.3.9
# !pip install ipython-sql

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
%load_ext sql

In [3]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [4]:
# !pip install -q pandas==1.1.5

In [5]:
%sql sqlite:///my_data1.db

In [6]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

In [7]:
df.head()

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing _Outcome
0,04-06-2010,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,08-12-2010,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,22-05-2012,07:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,08-10-2012,00:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,01-03-2013,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [8]:
df['Launch_Site'].unique().tolist()

['CCAFS LC-40', 'VAFB SLC-4E', 'KSC LC-39A', 'CCAFS SLC-40']

In [9]:
%%sql
SELECT DISTINCT Launch_Site
FROM SPACEXTBL;

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [10]:
records = df[df['Launch_Site'].str.startswith('CCA')]
records.head()

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing _Outcome
0,04-06-2010,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,08-12-2010,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,22-05-2012,07:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,08-10-2012,00:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,01-03-2013,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt

In [11]:
%%sql
SELECT *
FROM SPACEXTBL
WHERE Launch_Site LIKE "CCA%"
LIMIT 5;

 * sqlite:///my_data1.db
Done.

[('04-06-2010', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('08-12-2010', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('22-05-2012', '07:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('08-10-2012', '00:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('01-03-2013', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [12]:
nasa_payloads = df[df['Customer'] =='NASA (CRS)']['PAYLOAD_MASS__KG_']
nasa_payloads.sum()

45596

In [13]:
%%sql
SELECT SUM(PAYLOAD_MASS__KG_)
FROM SPACEXTBL
WHERE Customer="NASA (CRS)";

 * sqlite:///my_data1.db
Done.

[(45596,)]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [14]:
df['Booster_Version'].unique()

array(['F9 v1.0  B0003', 'F9 v1.0  B0004', 'F9 v1.0  B0005',
       'F9 v1.0  B0006', 'F9 v1.0  B0007', 'F9 v1.1  B1003', 'F9 v1.1',
       'F9 v1.1 B1011', 'F9 v1.1 B1010', 'F9 v1.1 B1012', 'F9 v1.1 B1013',
       'F9 v1.1 B1014', 'F9 v1.1 B1015', 'F9 v1.1 B1016', 'F9 v1.1 B1018',
       'F9 FT B1019', 'F9 v1.1 B1017', 'F9 FT B1020', 'F9 FT B1021.1',
       'F9 FT B1022', 'F9 FT B1023.1', 'F9 FT B1024', 'F9 FT B1025.1',
       'F9 FT B1026', 'F9 FT B1029.1', 'F9 FT B1031.1', 'F9 FT B1030',
       'F9 FT  B1021.2', 'F9 FT B1032.1', 'F9 FT B1034', 'F9 FT B1035.1',
       'F9 FT  B1029.2', 'F9 FT B1036.1', 'F9 FT B1037', 'F9 B4 B1039.1',
       'F9 FT B1038.1', 'F9 B4 B1040.1', 'F9 B4 B1041.1',
       'F9 FT  B1031.2', 'F9 B4 B1042.1', 'F9 FT  B1035.2',
       'F9 FT  B1036.2', 'F9 B4 B1043.1', 'F9 FT  B1032.2',
       'F9 FT  B1038.2', 'F9 B4 B1044', 'F9 B4  B1041.2',
       'F9 B4  B1039.2', 'F9 B4 B1045.1', 'F9 B5  B1046.1',
       'F9 B4  B1043.2', 'F9 B4  B1040.2', 'F9 B4 B1045.2',
       'F9 B5B1047.1', 'F9 B5B1048.1', 'F9 B5 B1046.2', 'F9 B5B1049.1',
       'F9 B5 B1048.2', 'F9 B5 B1047.2', 'F9 B5 B1046.3', 'F9 B5B1050',
       'F9 B5B1054', 'F9 B5 B1049.2', 'F9 B5 B1048.3', 'F9 B5B1051.1',
       'F9 B5B1056.1 ', 'F9 B5 B1049.3', 'F9 B5 B1051.2 ',
       'F9 B5 B1056.2 ', 'F9 B5 B1047.3 ', 'F9 B5 B1048.4',
       'F9 B5B1059.1', 'F9 B5 B1056.3 ', 'F9 B5 B1049.4', 'F9 B5 B1046.4',
       'F9 B5 B1051.3', 'F9 B5 B1056.4', 'F9 B5 B1059.2', 'F9 B5 B1048.5',
       'F9 B5 B1051.4', 'F9 B5B1058.1 ', 'F9 B5 B1049.5', 'F9 B5 B1059.3',
       'F9 B5B1060.1', 'F9 B5 B1058.2 ', 'F9 B5 B1051.5', 'F9 B5 B1049.6',
       'F9 B5 B1059.4', 'F9 B5 B1060.2 ', 'F9 B5 B1058.3 ',
       'F9 B5 B1051.6', 'F9 B5 B1060.3', 'F9 B5B1062.1', 'F9 B5B1061.1 ',
       'F9 B5B1063.1', 'F9 B5 B1049.7 ', 'F9 B5 B1058.4 '], dtype=object)

In [15]:
f9_payloads = df[df['Booster_Version'] =='F9 v1.1']['PAYLOAD_MASS__KG_']
f9_payloads.mean()

2928.4

In [16]:
%%sql
SELECT AVG(PAYLOAD_MASS__KG_)
FROM SPACEXTBL
WHERE Booster_Version="F9 v1.1";

 * sqlite:///my_data1.db
Done.

[(2928.4,)]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [17]:
df['Landing _Outcome'].unique()

array(['Failure (parachute)', 'No attempt', 'Uncontrolled (ocean)',
       'Controlled (ocean)', 'Failure (drone ship)',
       'Precluded (drone ship)', 'Success (ground pad)',
       'Success (drone ship)', 'Success', 'Failure', 'No attempt '],
      dtype=object)

In [18]:
success_date = df[df['Landing _Outcome'] =='Success (ground pad)']['Date']
success_date.min()

'01-05-2017'

In [19]:
%%sql
SELECT MIN(Date) 
FROM SPACEXTBL 
WHERE "Landing _Outcome" = 'Success (ground pad)';

 * sqlite:///my_data1.db
Done.

[('01-05-2017',)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [20]:
%%sql
SELECT DISTINCT Booster_Version 
FROM SPACEXTBL 
WHERE "Landing _Outcome" = 'Success (drone ship)' AND (PAYLOAD_MASS__KG_ BETWEEN 4000 AND 6000);

 * sqlite:///my_data1.db
Done.

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]

### Task 7




##### List the total number of successful and failure mission outcomes

In [21]:
list(df.Mission_Outcome.unique())

['Success',
 'Failure (in flight)',
 'Success (payload status unclear)',
 'Success ']

In [22]:
%%sql
SELECT 'Success' as Result, COUNT(*) 
FROM SPACEXTBL 
WHERE Mission_Outcome LIKE "Success%"
UNION
SELECT 'Failure', COUNT(*) 
FROM SPACEXTBL 
WHERE Mission_Outcome = "Failure (in flight)";

 * sqlite:///my_data1.db
Done.

[('Failure', 1), ('Success', 100)]

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [23]:
%%sql
SELECT DISTINCT Booster_Version 
FROM SPACEXTBL
WHERE PAYLOAD_MASS__KG_=(SELECT MAX(PAYLOAD_MASS__KG_) FROM SPACEXTBL);

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1060.2 ',),
 ('F9 B5 B1058.3 ',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5 B1049.7 ',)]

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 4, 2) as month to get the months and substr(Date,7,4)='2015' for year.**

In [24]:
%%sql 
SELECT SUBSTR(Date, 4, 2), Booster_Version, Launch_Site 
FROM SPACEXTBL 
WHERE SUBSTR(Date, 7, 4) = '2015' AND "Landing _Outcome" = 'Failure (drone ship)';

 * sqlite:///my_data1.db
Done.

[('01', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 ('04', 'F9 v1.1 B1015', 'CCAFS LC-40')]

### Task 10




##### Rank the  count of  successful landing_outcomes between the date 04-06-2010 and 20-03-2017 in descending order.

In [25]:
%%sql 
SELECT "Landing _Outcome", COUNT("Landing _Outcome")
FROM SPACEXTBL
WHERE DATE BETWEEN '04-06-2010' AND '20-03-2017' 
GROUP BY  "Landing _Outcome"
ORDER BY COUNT("Landing _Outcome") DESC;

 * sqlite:///my_data1.db
Done.

[('Success', 20),
 ('No attempt', 10),
 ('Success (drone ship)', 8),
 ('Success (ground pad)', 6),
 ('Failure (drone ship)', 4),
 ('Failure', 3),
 ('Controlled (ocean)', 3),
 ('Failure (parachute)', 2),
 ('No attempt ', 1)]

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> Â© IBM Corporation 2021. All rights reserved. <h3/>